@import url('https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Sen', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h2 {
    margin: 0;
    font-size: 75px;
    color: rgb(74, 167, 221);
}

.appContainer {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: white;
}

.note-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.mainContainer {
    height: 100%;
    width: 80%;
    /* border: 5px solid whitesmoke; */
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5);
    padding: 25px;
}

.upperContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(50, 174, 231);
    border-radius: 10px;
}

.listContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#textarea {
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
    margin-left: 10px;
}

ul li {
    list-style-type: none;
    height: 25px;
    width: 125px;
    display: flex;
    align-items: center;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 2px;
    background-color: white;
    padding: 10px;
}

ul li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.226);
    transform: scale(1.01);
}

li.checked {
    background-color: rgb(60, 72, 77);
    color: white;
}

button {
    width: 30%;
    height: 30px;
    margin: 10px 10px;
    background-color: rgb(50, 174, 231);
    border: none;
    border-radius: 10px;
    color: aliceblue;
    cursor: pointer;
}

button:hover {
    transform: scale(1.01);
}

.daily-note {
    position: relative;
    width: 300px;
    height: 150px;
    margin: 10px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
    overflow: auto;
    display: table;
    background-color: #f2eecb;
}

.created-note {
    position: relative;
    width: 300px;
    height: 150px;
    margin: 20px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
    overflow: auto;
    float: left;
    background-color: #f2eecb;
}

.note-done {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: rgb(50, 174, 231);
    ;
}

table {
    table-layout: fixed;
    width: 100%;
    text-align: center;
}

td {
    width: 50%;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

td:nth-of-type(even) {
    position: relative;
}

.fa-circle,
.fa-calendar-check,
.fa-location-arrow {
    position: absolute;
    left: 0;
}

.fa-check-double {
    color: black;
    position: absolute;
    right: 0;
    cursor: pointer;
    color: rgb(50, 174, 231);
}

.fa-trash {
    color: crimson;
    position: absolute;
    right: 0;
    transform: translateX(200%);
    cursor: pointer;
}

h3 {
    position: absolute;
    margin: 0;
    top: 0;
    font-size: 125px;
    text-decoration: underline;
}

.login {
    position: absolute;
    top: 25px;
    right: 5px;
    width: 100px;
    font-weight: bold;
}